@import 'styles/globals.scss';

.form {
    &__submit {
        @extend %reset-button;

        margin: $base-step * 3 auto;
        width: 100%;
        max-width: $submit-button-max-width;
        height: $base-step * 6;
        background-color: $color-submit-bg-default;
        border-radius: $base-step * 7;
        color: $color-submit-default;
        font-size: 2.1em;
        line-height: (25/21);
        transition: background-color, color 0.15s ease-in-out;

        &:disabled {
            background-color: $color-submit-bg-disabled;
            color: $color-submit-disabled;
            cursor: default;

            &:hover,
            &:active {
                background-color: $color-submit-bg-disabled;
            }
        }

        &:hover,
        &:active {
            background-color: $color-submit-bg-active;
        }

        &.is-dense {
            margin-top: 0;
            margin-bottom: 0;
        }

        &.is-fill {
            max-width: none;
        }
    }
}
