@import 'styles/globals.scss';

// @TODO: Refactor profile page
.profile {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: $base-step * 4 0px;
    grid-template-areas:
        'Header'
        'Card'
        'Form'
        'Footer';
    position: relative;
    z-index: 100;
    padding: $base-step * 4 0;
    width: 100%;
    background-color: #fff;

    @media screen and (min-width: $desktop) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            'Header Header'
            'Form Card'
            'Footer Footer';
        width: 800px;
        padding: $base-step * 6 $base-step * 4;
    }

    &__header {
        grid-area: Header;
    }

    &__form {
        grid-area: Form;
        display: block;
        margin: 0 auto;
        width: flexwidth(350, $min-width);
    }

    &__title {
        display: none;
        text-align: center;
        margin-bottom: $base-step;

        @media screen and (min-width: $desktop) {
            display: block;
            font-size: 3.6em;
            font-weight: bold;
        }
    }

    &__add-data {
        padding: 0 flexwidth(40, $min-width);

        @media screen and (min-width: $desktop) {
            text-align: center;
        }
    }

    &__footer {
        grid-area: Footer;
        text-align: center;
    }

    .link {
        display: flex;
        align-items: center;
        font-size: 1.6em;
        line-height: 1.3;

        @media screen and (min-width: $desktop) {
            justify-content: center;
            font-size: 1.8em;
            color: $color-subheader;
        }

        &__icon {
            display: block;
            margin-right: $base-step;

            @media screen and (min-width: $desktop) {
                display: none;
            }
        }
    }

    // @TODO: Refactor
    .cc-display {
        grid-area: Card;
        box-sizing: border-box;
        margin: 0 auto $base-step * 4;
        padding: $base-step * 2 $base-step * 2 $base-step * 2 $base-step * 3;
        width: 347px;
        max-height: 190px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

        &__header,
        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__expires {
            font-size: 1.4em;
        }

        &__num {
            margin: $base-step * 3 0;
            font-size: 2.1em;
        }
    }

    .card-num {
        display: flex;
        align-items: center;

        &__section {
            display: block;
            margin-right: $base-step * 3;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .vendor-icons {
        &__item {
            position: relative;
            filter: grayscale(90%);
            opacity: 0.5;
            transition: filter, opacity 0.15s ease-in-out;

            &.is-active {
                filter: grayscale(0);
                opacity: 1;
            }
        }

        .mc-icon {
            position: static;
        }
    }

    .profile-form {
        &__group {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > * {
                margin-right: $base-step * 3;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}
