// Base
$color-yellow-100: #FDBF5A;
$color-yellow-200: #FFA842;

// Header
$color-header-background: #1C1A19;
$color-active-nav: $color-yellow-100;
$color-subheader: #7B7B7B;

// Register / Input form
$color-form-subtle: #828282;
$color-form-subtle-link: $color-yellow-100;
$color-input-border: #E4E4E4;
$color-form-error: #FF0000;

// Submit button
$color-submit-bg-disabled: #D8D7D5;
$color-submit-bg-default: $color-yellow-100;
$color-submit-bg-active: $color-yellow-200;

$color-submit-disabled: #737373;
$color-submit-default: #000;


