// Base
$color-yellow-100: #fdbf5a;
$color-yellow-200: #ffa842;

// Header
$color-header-background: #1c1a19;
$color-active-nav: $color-yellow-100;
$color-subheader: #7b7b7b;

// Register / Input form
$color-form-subtle: #828282;
$color-form-subtle-link: $color-yellow-100;
$color-input-border: #e4e4e4;
$color-form-error: #ff0000;

// Submit button
$color-submit-bg-disabled: #d8d7d5;
$color-submit-bg-default: $color-yellow-100;
$color-submit-bg-active: $color-yellow-200;

$color-submit-disabled: #737373;
$color-submit-default: #000;

$color-autocomplete-border: #e0e0e0;
$color-autocomplete-element: #c4c4c4;
$color-autocomplete-element-focused: #000;
