$desktop: 1024px;

$min-width: 375px;
$max-width: 1920px;

$default-context: 1440px;

$header-height-mobile: 193px;
$header-height-desktop: 102px;

$base-font: 10px;
$base-step: 10px;

$form-max-width: 580px;
$form-min-width: 300px;