@import 'styles/globals.scss';

.form {
    &__hint {
        position: absolute;
        top: 100%;
        margin: ($base-step / 2) 0 0;

        &.is-error {
            color: $color-form-error;
        }
    }
}