@import 'styles/globals.scss';

.route-select {
    position: absolute;
    top: 0;
    left: 0;
    margin: gap(6) 0 0 gap(7);
    z-index: 100;
    padding: $base-step * 4;
    width: 486px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);

    &__header {
        margin-bottom: $base-step  * 2;
    }

    &__body {
        margin-bottom: $base-step  * 4;
    }

    &__title {
        font-size: 3.6em;
        line-height: 42 / 36;
    }

    &__text {
        color: $color-subheader;
        font-size: 1.8em;
        line-height: 21 / 18;
    }
}
