// Fast reset
* {
    margin: 0;
    padding: 0;
}

body {
    font: normal .625em/1.3 "Roboto", Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

.is-center {
    text-align: center;
}